
<div class="row p-2">
    <div class="col-md-6">
        <h2>Currency</h2>
    </div>
    <div class="col-md-6 text-md-right">
        <button class="btn btn-primary" style="float:right" id="partyMod" data-toggle="modal" data-target="#currencyModal">
            Create
        </button>
    </div>

</div>



<table class="table">
    <thead>
        <tr>
            <th>currency Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currency in Model)
        {
            <tr>
                <td>@currency.currency_name</td>
                <td>
                    <button class="btn btn-primary EditParty" data-id="@currency.currency_id">Edit</button>
                    <button class="btn btn-danger DeleteParty" data-id="@currency.currency_id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="currencyModal" tabindex="-1" role="dialog" aria-labelledby="currencyMod" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="currencyModal">Create New Currency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form id="partyForm" action="~/Currency/Create" method="post">
                    <div class="form-group">

                        <input type="text" class="form-control" id="edit_id" name="edit_id" hidden>

                        Currency Name
                        <input type="text" class="form-control" id="currency_name" name="currency_name">

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="saveGroupBtn">Save</button>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->

        </div>
    </div>
</div>
